template(name='map')


  .floorplan
    .stage ---------Presentation Stage---------

    .tableBox
      each tables
        span.oneTable(id=name) {{name}}
        if this.spacer
          span.spacer

        if this.endcap
          br
        if this.vspace
          br
      //- each rows
      //-   each cols
      //-     span.oneTable {{tableName this ..this}}
      //-   br
