cellHeight = 26.5px

.floorplan
  width 100%
  background-color #d7d7d7

  .stage
    height cellHeight
    text-align center
    border 1px solid #ccc
    width 100%
    background-color #c5daeb

  .bub
    position absolute
    bottom cellHeight
    left -50%
    padding 5%
    background-color #ddd
    border-radius 3px
    border: 1px solid #444
    font-size 16px
    width 200%
    color black
    z-index 200
    box-shadow 1px 1px 5px 2px rgba(0,0,0,.4)

  .tableBox
    width 100%

    .oneTable
      border 1px solid #ccc
      position relative
      display inline-block
      background-color #f7f7f7
      width 11%
      height cellHeight
      // -webkit-box-shadow inset 1px 1px 1px 2px rgba(255,255,255,1)
      // -moz-box-shadow inset 1px 1px 1px 2px rgba(255,255,255,1)
      // box-shadow inset 1px 1px 1px 2px rgba(0,0,0,.2)
      text-align center
      cursor pointer
      border-radius 2px

      .avatar
        position absolute
        width cellHeight
        height cellHeight
        bottom 3px
        z-index 200
        &:hover
          z-index 250
          transform scale(1.1)
          // border 2px solid white

      .tableName
        // border 1px solid red
        position absolute
        left 0px
        bottom 0px
        z-index 150
        color #444
        font-size 12px
        font-family "HelveticaNeue-Light"
        text-align center
        width 100%

    .spacer
      display inline-block
      width 20px
