.topLogoPanel
  margin 0px
  padding 20rem
  background-color #ff4a0a

  .subheading
    color white

  .topLogoImage
    position absolute
    top 30px
    right 30px
    height 120px
    z-index 200

  .coverStripImage
    // position absolute
    // top 0
    // left 0
    // max-height 150px
    // min-height 150px
    border 5rem solid black
    height 150px
    z-index 10
    
    
  .darkBlock
    background-color red