head
  //- this is critical for mobile and emulation to look and work properly
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(charset="utf-8")
  meta(name="mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="google-site-verification" content="Md8_9Xl7BVScIGkTHRpgOskL31wpd3G8kNaeFnL8PRU")
  link(rel="icon" type="image/png" href="/app/icon/fav/favicon-32x32.png" sizes="32x32")
  link(rel="icon" sizes="192x192" href="/app/icon/192/logo.png")
  link(rel="shortcut icon" href="/app/icon/fav/favicon-32x32.png")