<template name="companyCard">
	<div class="chatHeader" style="margin-bottom: 20px">Currently Presenting</div>
	<div id="companyCard">
		<div class="companyInfo">
			<div class="companyDescription">
				<strong>Orange</strong><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</div>
			<div class="buttons">
				<div class="yes">YEMEN!</div>
				<div class="no">GARBAGE!</div>
			</div>
		</div>
	</div>
	
</template>