.votebar
  position relative
  z-index 100
  background-color white
  width 33%
  top 0px
  padding-top: 20px
  
 .teamName
 	text-align center
 	font-size 24px
 	padding-bottom: 10px
 	
 .buttonBox
 	width 100%
 	margin-top: 10px
 	margin-left: 7px
 
 .big
 	font-size 34px
 	margin-top 10px
 
 .yes
 	width: 48%
 	background-color #57C162
 	border-radius 3px
 	font-size 40px
 	padding-top: 5px
 	font-family monospace
 	height 60px
 	color black
 	
 .teamList
 	font-size: 24px
 	margin-left: 10px
 
 .results
 	text-align: center


 .no
 	width: 48%
 	background-color #A52714
 	border-radius 3px
 	font-size 40px
 	padding-top: 5px
 	font-family monospace
 	height 60px
 	color white
 
 .yes:hover
 	background-color green
 	color: white
 
 
 .no:hover
 	background-color red
 	color black

 	
 .voteCountBox
 	width: 100%
 	margin-top 20px
 
 .yesVotes
 	width: 48%
 	display inline-block
 	border-radius 3px
 	text-align center

 .noVotes
 	width: 48%
 	border-radius 3px
 	float right
 	text-align center


